
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Đăng ký tiêm chủng</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Assets/user/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Assets/user/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/user/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="~/Assets/user/css/pogo-slider.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/user/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/user/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/user/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <!-- <div id="preloader">
        <div class="loader">
            <img src="images/preloader.gif" alt="" />
        </div>
    </div>end loader -->
    <!-- END LOADER -->
    <!-- Start top bar -->
    <div class="main-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-top">
                        <a class="new-btn-d br-2" href="#"><span>Book Appointment</span></a>
                        <div class="mail-b"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> demo@gmail.com</a></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="wel-nots" style="font-size:15px; color:white;">
                        @{if (@Session["USER_SESSION"] == null)
                            {
                                <li><a href="" style="color:white;"><i class="fa fa-user"></i>Đăng ký</a></li>
                                <li><a href="@Url.Action("Logout", "Home")" style="color:white;"><i class="fa fa-user"></i>Đăng nhập</a></li>
                            }
                            else
                            {
                                <li><a href="" style="color:white;"><i class="fa fa-user"></i> @{ @Session["USER_SESSION"];}</a></li>
                                <li><a href="@Url.Action("Logout", "Home")" style="color:white;"><i class="fa fa-crosshairs"></i>Đăng xuất</a></li>
                            } }
                    </div>
                    <div class="right-top">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End top bar -->
    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="~/Assets/user/images/logo.png" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a class="nav-link" href="@Url.Action("Index", "PhieuDangKy")">Phiếu Đăng kí</a></li>
                        <li><a class="nav-link" href="#services">Gói tiêm chủng</a></li>
                        <li><a class="nav-link" href="#gallery">Thư viện</a></li>
                        <li><a class="nav-link" href="#team">Bác sĩ</a></li>
                        <li><a class="nav-link" href="#blog">Blog</a></li>
                        <li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
    }
    @RenderBody()
    <!-- End Team -->
    <!-- Start Subscribe -->
    <div class="subscribe-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-inner text-center clearfix">
                        <h2>Subscribe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input class="form-control-1" id="email-1" name="email" placeholder="Email Address" required="" type="text">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="new-btn-d br-2">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Subscribe -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Health Lab</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="~/Assets/user/js/jquery.min.js"></script>
    <script src="~/Assets/user/js/popper.min.js"></script>
    <script src="~/Assets/user/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Assets/user/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/user/js/jquery.pogo-slider.min.js"></script>
    <script src="~/Assets/user/js/slider-index.js"></script>
    <script src="~/Assets/user/js/smoothscroll.js"></script>
    <script src="~/Assets/user/js/TweenMax.min.js"></script>
    <script src="~/Assets/user/js/main.js"></script>
    <script src="~/Assets/user/js/owl.carousel.min.js"></script>
    <script src="~/Assets/user/js/form-validator.min.js"></script>
    <script src="~/Assets/user/js/contact-form-script.js"></script>
    <script src="~/Assets/user/js/isotope.min.js"></script>
    <script src="~/Assets/user/js/images-loded.min.js"></script>
    <script src="~/Assets/user/js/custom.js"></script>
</body>
</html>