
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <i class="fa fa-dashboard"></i> Tổng quan
}

<div class="market-updates">
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-1">
            <div class="col-md-8 market-update-left">
                <h4>Số trẻ em</h4>
                <h4>@ViewBag.TreEmNum</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-2">
            <div class="col-md-8 market-update-left">
                <h4>Loại vaccine</h4>
                <h4>@ViewBag.VaccineNum</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-3">
            <div class="col-md-8 market-update-left">
                <h4>Tổng doanh thu</h4>
                <h4>@String.Format("{0:#,##0₫}", ViewBag.Revenue)</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-4">
            <div class="col-md-8 market-update-left">
                <h4>Phiếu đăng ký</h4>
                <h4>@ViewBag.PhieuNum</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>


<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 id="monthYear"></h3>
            <div class="toolbar">


            </div>
        </header>
        <div class="agileits-box-body clearfix">
            <div id="hero-area"></div>
        </div>
    </div>
</div>

@Html.Raw(ViewBag.RevenueChart)

<script>
    $(document).ready(function() {
        var d = new Date();
        var m = d.getMonth() + 1;
        var y = d.getFullYear();
        document.getElementById("monthYear").innerHTML = "Doanh thu tháng " + m + " - " + y;
    })
</script>
