@model Models.EF.TreEm

@{
    ViewBag.Title = "Lưu trẻ em";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-save"></i>&nbsp;Lưu trẻ em
}

@using (Html.BeginForm("Create", "TreEm", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-lg-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-2">Họ và tên:</label>
                <div class="col-md-10">
                    @if (ViewBag.Update != true)
                    {
                        @Html.HiddenFor(model => model.id, new { @class = "form-control" });
                        @Html.HiddenFor(model => model.id_phuHuynh, new { @class = "form-control" });
                    }
                    @Html.TextBoxFor(model => model.ten, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Giới tính:</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.gioiTinh, ViewBag.gioiTinh as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ngày sinh:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ngaySinh, "{0:MM/dd/yyyy}", new { @class = "form-control disable datepicker" })
                    <script>
                        $(function () {
                            $(".datepicker").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                maxDate: '0'
                            });
                        });
                    </script>
                    @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a onclick="goBack()" class="btn btn-default">Quay lại</a>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                </div>
            </div>
        </div>
    </div>
}
